@use 'variables' as *;

.explore-screen {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 150px;
}

.tag {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-accent-bg-100;
        height: 30px;
        transform: translate(10px, 20px);
        transition: transform 0.25s ease;
        z-index: -1;
    }
}