@use 'variables' as *;

.create-post {
    outline: none;
    position: fixed;
    background-color: $color-accent-bg-200;
    border: none;
    right: 40px;
    bottom: 50px;
    font-size: 60px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: $white;
    box-shadow: $default-shadow;
    z-index: 100;
}

.loading-spinner {
    max-width: fit-content;
    * {
        max-width: 80px;
    }
}

.explore-screen {
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block: 20px;

    .post {
        background-color: $color-bg-100;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px #00000010;
        margin-bottom: 20px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        .content {
            font-size: 20px;
            line-height: 25px;
        }

        .author {
            display: block;
            margin-top: 20px;
            font-size: 20px;
            color: #555;
        }
    }

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .star-favourite {
            font-size: 24px;
            color: $star-inacive-color;
            filter: drop-shadow(0 0 4px rgba($color-accent-text, 20%));
            cursor: pointer;
            transition: $default-transition;

            &:hover {
                color: $star-active-color;
                filter: drop-shadow(0 0 4px $color-accent-text);
            }
        }
    }

    .rating-container {
        margin-top: 20px;

        .star-icon {
            font-size: 24px;
            cursor: pointer;
        }

        .stars-outer {
            position: relative;
            display: inline-block;
            font-size: 24px;
            line-height: 1;
        }

        .stars-layer {
            display: flex;
            white-space: nowrap;
        }

        .stars-empty {
            color: #ccc;
            z-index: 1;
        }

        .stars-filled {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            width: 0%;
            z-index: 2;
            pointer-events: none;
        }

        .stars-average {
            color: #ccc;
        }

        .stars-hover {
            color: $star-active-color;
        }

        .stars-user-rated {
            color: $star-inacive-color;
        }

        .star-icon {
            margin-right: 2px;
        }

        .rated-amount {
            margin-top: 5px;
            color: #555;
            font-size: 16px;
        }
    }
}