@use 'variables' as *;

.explore-screen {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 150px;
}

.tag {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $color-accent-bg-100;
        height: 30px;
        transform: translate(10px, 20px);
        transition: transform 0.25s ease;
        z-index: -1;
    }
}

.create-post {
    outline: none;
    position: fixed;
    background-color: $color-accent-bg-200;
    border: none;
    right: 40px;
    bottom: 50px;
    font-size: 60px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: $white;
    box-shadow: $default-shadow;
    z-index: 100;

    @media screen and (min-width: ($xl)) {
        right: 15%
    }
}