<header>
    <div class="container d-flex flex-column align-items-center">
        <div class="c-row d-flex justify-content-between w-100">
            <div class="links left">
                <a class="link" [routerLink]="['/']">Burning Car</a>
            </div>
            <div class="links right">
                <div class="pc d-flex align-items-center">
                    <app-search [model]="searchModel" [id]="1" />
                </div>
                @if (userLoading) {
                    <div class="links-el user-avatar spinner-secondary-bg">
                        <mat-progress-spinner mode="indeterminate" />
                    </div>
                } @else {
                    <div class="links-el position-relative">
                        <a (click)="toggleUserMenu()"><div class="user-avatar image">
                            <fa-icon [icon]="icons.faUser" />
                        </div></a>
                        @if (doShowUserMenu) {
                            <div #menu class="user-menu">
                                @if (currentUser != null) {
                                    <a class="bad-color" [routerLink]="['']" [queryParams]="{ favourites: true }">Избранное</a>
                                    <a class="bad-color" (click)="logout()">Выход</a>
                                } @else {
                                    <a (click)="doShowUserMenu = false" [routerLink]="'/register'">Регистрация</a>
                                    <a (click)="doShowUserMenu = false" [routerLink]="'/login'">Вход</a>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="c-row mobile-md w-100 justify-content-end d-flex align-items-center mt-4">
            <app-search class="w-100" [model]="searchModel" [id]="2" />
        </div>
    </div>
</header>