
<header>
    <div class="container d-flex justify-content-between">
        <div class="links left">
            <a class="link pc">Главная</a>
            <a class="link mobile">Burning Car</a>
            <a class="link pc">Написать анекдот</a>
        </div>
        <div class="links right">
            <a class="links-el search-icon">
                <fa-icon [icon]="icons.faSearch" />
            </a>
            @if (userLoading) {
                <div class="links-el user-avatar spinner-secondary-bg">
                    <mat-progress-spinner mode="indeterminate" />
                </div>
            } @else {
                <div class="links-el position-relative">
                    <a (click)="toggleUserMenu()"><div class="user-avatar">
                        <img src="/assets/img/default-user-image.png" />
                    </div></a>
                    @if (doShowUserMenu) {
                        <div class="user-menu">
                            <a>Открыть профиль</a>
                            <a class="bad-color">Выход</a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</header>
<button class="create-post mobile">+</button>