@use 'variables' as *;

.rating-container {
    margin-top: 20px;

    .star-icon {
        font-size: 24px;
        @media screen and (max-width: calc($md - $eps)) {
            font-size: 20px;
        }
        cursor: pointer;
    }

    .stars-outer {
        position: relative;
        display: inline-block;
        line-height: 1;
    }

    .stars-layer {
        display: flex;
        white-space: nowrap;
    }

    .stars-empty {
        color: #ccc;
        z-index: 1;
    }

    .stars-filled {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0%;
        z-index: 2;
        pointer-events: none;
    }

    .stars-average {
        color: #ccc;
    }

    .stars-hover {
        color: $star-active-color;
    }

    .stars-user-rated {
        color: $star-inacive-color;
    }

    .star-icon {
        margin-right: 2px;
    }

    .rated-amount {
        margin-top: 5px;
        color: #555;
        font-size: 16px;
        @media screen and (max-width: calc($md - $eps)) {
            font-size: 14px;
        }
    }
}